<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Icon</th>
      <th>Description</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.icon %></td>
        <td><%= project.description %></td>
        <td><%= project.public %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

-----------------------------------------------
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <select>
	  <% @projects.each do |project| %>
   	    <option><%= project.title %></option>
	  <% end %>
    </select>
	
	<% @projects.each do |project| %>
	  <div class="<%= project.title.downcase.tr(" ", "_") %> box">
	    <% project.tasks.each do |task| %> <span> <%= task.description %> </span> <% end %> 
	  </div>
	<% end %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	
<script>
$(document).ready(function() {
  $("select").change(function() {
    var project = $(this).val().toLowerCase().split(' ').join('_');
	console.log('Click count:' + project);
	<% @projects.each do |project| %>
      if (project == "<%= project.title.downcase.tr(" ", "_") %>") {
        $(".box").not(".<%= project.title.downcase.tr(" ", "_") %>").hide();
        $(".<%= project.title.downcase.tr(" ", "_") %>").show();
	  }
	<% end %>
	
  });
});
</script>

</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a{
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>